@import 'tailwindcss';

@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: 'Sora';

  src: url('./assets/fonts/Sora.ttf') format('truetype');
  font-weight: 100 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cascadia Mono';
  src: url('./assets/fonts/CascadiaMono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  @apply m-0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.871 0.006 286.286);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.871 0.006 286.286);

  --text-50: 95.84% 0.02 245.64;
  --text-100: 91.89% 0.038 242.13;
  --text-200: 83.95% 0.078 243.1;
  --text-300: 76.18% 0.117 245.12;
  --text-400: 69.21% 0.153 247.36;
  --text-500: 63.08% 0.182 251.4;
  --text-600: 53.6% 0.153 251.22;
  --text-700: 43.63% 0.121 250.71;
  --text-800: 33.37% 0.088 249.15;
  --text-900: 21.91% 0.05 245.68;
  --text-950: 15.57% 0.031 237.84;

  --background-50: 98.73% 0.03 100.86;
  --background-100: 97.76% 0.059 102.29;
  --background-200: 95.82% 0.114 102.92;
  --background-300: 94.17% 0.157 103.13;
  --background-400: 92.81% 0.184 102.69;
  --background-500: 91.47% 0.191 101.03;
  --background-600: 77.54% 0.162 101.53;
  --background-700: 62.73% 0.131 101.72;
  --background-800: 46.97% 0.098 102.09;
  --background-900: 29.72% 0.062 103.01;
  --background-950: 20.18% 0.042 103.19;

  --primary-50: 96.01% 0.018 237.76;
  --primary-100: 91.92% 0.036 241.81;
  --primary-200: 84.22% 0.073 241.29;
  --primary-300: 76.61% 0.111 243.16;
  --primary-400: 69.75% 0.143 245.05;
  --primary-500: 63.42% 0.171 249.3;
  --primary-600: 54.02% 0.143 248.82;
  --primary-700: 43.96% 0.115 248.71;
  --primary-800: 33.5% 0.082 247.18;
  --primary-900: 21.89% 0.048 245.4;
  --primary-950: 15.68% 0.03 240.61;

  --secondary-50: 94.59% 0.024 14.43;
  --secondary-100: 89.49% 0.049 14.94;
  --secondary-200: 79.47% 0.105 16.01;
  --secondary-300: 70.62% 0.161 19.33;
  --secondary-400: 63.83% 0.212 23.04;
  --secondary-500: 59.91% 0.239 27.39;
  --secondary-600: 50.83% 0.201 27.17;
  --secondary-700: 41.17% 0.161 26.87;
  --secondary-800: 31.12% 0.119 25.63;
  --secondary-900: 20.03% 0.07 23.23;
  --secondary-950: 14.03% 0.045 20.67;

  --accent-50: 98.04% 0.024 96.56;
  --accent-100: 96.35% 0.047 98.11;
  --accent-200: 92.88% 0.092 98.51;
  --accent-300: 89.71% 0.132 98.12;
  --accent-400: 86.69% 0.159 97.47;
  --accent-500: 83.9% 0.17 95.6;
  --accent-600: 71.08% 0.143 95.68;
  --accent-700: 57.65% 0.116 95.79;
  --accent-800: 43.27% 0.085 96.83;
  --accent-900: 27.67% 0.053 97.97;
  --accent-950: 19.08% 0.035 98.47;
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.141 0.005 285.823);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.141 0.005 285.823);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.274 0.006 286.033);
  --input: oklch(0.274 0.006 286.033);
  --ring: oklch(0.442 0.017 285.786);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.274 0.006 286.033);
  --sidebar-ring: oklch(0.442 0.017 285.786);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-text-50: oklch(var(--text-50));
  --color-text-100: oklch(var(--text-100));
  --color-text-200: oklch(var(--text-200));
  --color-text-300: oklch(var(--text-300));
  --color-text-400: oklch(var(--text-400));
  --color-text-500: oklch(var(--text-500));
  --color-text-600: oklch(var(--text-600));
  --color-text-700: oklch(var(--text-700));
  --color-text-800: oklch(var(--text-800));
  --color-text-900: oklch(var(--text-900));
  --color-text-950: oklch(var(--text-950));

  --color-deep-space-blue-50: #e8f5fc;
  --color-deep-space-blue-100: #d2ebf9;
  --color-deep-space-blue-200: #a5d6f3;
  --color-deep-space-blue-300: #78c2ed;
  --color-deep-space-blue-400: #4aaee8;
  --color-deep-space-blue-500: #1d9ae2;
  --color-deep-space-blue-600: #177bb5;
  --color-deep-space-blue-700: #125c87;
  --color-deep-space-blue-800: #0c3d5a;
  --color-deep-space-blue-900: #061f2d;
  --color-deep-space-blue-950: #041620;

  --color-pale-sky-50: #ecf3f9;
  --color-pale-sky-100: #d8e7f3;
  --color-pale-sky-200: #b2cfe6;
  --color-pale-sky-300: #8bb6da;
  --color-pale-sky-400: #659ecd;
  --color-pale-sky-500: #3e86c1;
  --color-pale-sky-600: #326b9a;
  --color-pale-sky-700: #255074;
  --color-pale-sky-800: #19364d;
  --color-pale-sky-900: #0c1b27;
  --color-pale-sky-950: #09131b;

  --color-vibrant-coral-50: #ffe6e5;
  --color-vibrant-coral-100: #ffcdcc;
  --color-vibrant-coral-200: #ff9b99;
  --color-vibrant-coral-300: #ff6966;
  --color-vibrant-coral-400: #ff3633;
  --color-vibrant-coral-500: #ff0400;
  --color-vibrant-coral-600: #cc0300;
  --color-vibrant-coral-700: #990300;
  --color-vibrant-coral-800: #660200;
  --color-vibrant-coral-900: #330100;
  --color-vibrant-coral-950: #240100;

  --color-lime-yellow-50: #faffe5;
  --color-lime-yellow-100: #f6ffcc;
  --color-lime-yellow-200: #ecff99;
  --color-lime-yellow-300: #e3ff66;
  --color-lime-yellow-400: #daff33;
  --color-lime-yellow-500: #d0ff00;
  --color-lime-yellow-600: #a7cc00;
  --color-lime-yellow-700: #7d9900;
  --color-lime-yellow-800: #536600;
  --color-lime-yellow-900: #2a3300;
  --color-lime-yellow-950: #1d2400;

  --font-sora: 'Sora', sans-serif;
  --font-cascadia: 'Cascadia Mono', 'Courier New', monospace;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}
