# .env.local for development
# .env.test for testing
# .env for production

# Application
NODE_ENV="development"  # development | production | test
PORT=8080

# only required for development
CLIENT_URL="http://localhost:3000"

# Authentication
BETTER_AUTH_SECRET="your-auth-secret-here"

# Database
# Local (Docker Compose): postgresql://postgres:postgres@localhost:5432/quizapp
# Production (Neon): Neon DB url
# Testing create another test-database for testing
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/quizapp"

# Redis
# Local (Docker Compose): redis://localhost:6379
# Production: Redis DB url
REDIS_URL="redis://localhost:6379"

# AI Services
GEMINI_API_KEY="your-gemini-api-key-here"