# Application
NODE_ENV="development"  # development | production
PORT=8080

CLIENT_URL="http://localhost:3000"

# Authentication
BETTER_AUTH_SECRET="your-auth-secret-here"

# Database
# Local (Docker Compose): postgresql://postgres:postgres@localhost:5432/quizapp
# Production (Neon): Neon DB url
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/quizapp"

# Redis
# Local (Docker Compose): redis://localhost:6379
# Production: Redis DB url
REDIS_URL="redis://localhost:6379"

# AI Services
GEMINI_API_KEY="your-gemini-api-key-here"